#banner_middle {
    background-color: var(--fb-tertiary-light);
    background-image: url('/halftone.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    padding: 2rem 0;
    margin: 8rem 0;
    color: var(--fb-text-dark)
}

.banner_title {
    font-size: 3rem;
    font-weight: 700;
    width: 50%;
    text-align: center;
    margin: auto;
}

.banner_img {
    max-width: 100%;
}

.card_banner {
    position: absolute;
    width: 45%;
    height: auto;
    aspect-ratio: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.397);
}