.img_container {
  padding: 0.3rem !important;
}

/* .table_hover {
  padding: 0.25rem 0.25rem !important;
} */

.price_tag_hover {
  padding: 0 !important;
}

.btn_dropdown {
  background-color: var(--fb-darker);
  color: var(--background);
}

.btn_dropdown:hover {
  background-color: var(--fb-tertiary);
  color: var(--fb-darker);
}

.btn_del {
  background-color: var(--fb-background-dark);
  color: var(--fb-text-light);
}

.btn_del:hover {
  background-color: var(--fb-primary);
  color: var(--fb-text-light);
}

.btn_watch {
  background-color: var(--fb-background-dark);
  color: var(--fb-text-light);
}

.btn_watch:hover {
  background-color: var(--fb-primary);
  color: var(--fb-darker);
}

.btn_show {
  background-color: var(--fb-background-dark);
  color: var(--fb-text-light);
  margin-left: 0 !important;
}

.btn_show:hover {
  background-color: var(--fb-primary);
}

.btn_proceed {
  background-color: var(--fb-background-dark);
  color: var(--fb-text-light);
}

.btn_proceed:hover {
  background-color: var(--fb-primary);
}