.table_border {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.301);
}

.table_header {
  color: var(--fb-text-dark) !important;
  text-align: center;
  text-transform: uppercase;
}

.table_body {
  color: var(--fb-text-dark) !important;
  text-align: center;
  vertical-align: middle;
}

.btn_delete {
  background-color: var(--fb-background-dark) !important;
  color: var(--fb-text-light) !important;
}

.btn_delete:hover {
  background-color: var(--fb-primary) !important;
  color: var(--fb-text-light) !important;
}

.btn_watch {
  background-color: var(--fb-background-dark) !important;
  color: var(--fb-text-light) !important;
}

.btn_watch:hover {
  background-color: var(--fb-primary) !important;
  color: var(--fb-text-light) !important;
}

.total_price {
  flex-direction: row !important;
  justify-content: end;
  background-color: var(--fb-accent);
  border: 1px solid var(--fb-background-dark);
  color: var(--fb-text-dark);
  display: flex;
  align-items: center;
}

.price {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--fb-primary);
  padding: 0.5rem;
  border-radius: 20px;
  color: var(--fb-text-light);
}

.payment {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn_payment {
  background-color: var(--fb-background-dark);
  color: var(--fb-background);
}

.btn_payment:hover {
  background-color: var(--fb-accent);
  color: var(--fb-text-dark);
}

/* UTILITY */
.vertical_align {
  vertical-align: middle;
}

.mobile_header_row {
  display: none;
}

@media screen and (max-width: 575px) {
  /* TABELLA */

  .table_border {
    border: none !important;
    border-radius: 0 !important;
  }

  .table_mobile {
    display: block;
    width: 100%;
  }

  /* BORDO AZZURRO ESTERNO TABELLA */

  .table_mobile tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid var(--fb-background-dark);
    border-radius: 20px !important;
    padding: 1rem;
    background-color: white;
    overflow: hidden;
  }

  .table_header {
    display: none;
  }

  .td_img_container {
    width: 35% !important;
    max-width: 50% !important;
    padding: 1rem;
  }

  /* NOME FUNKO */
  .mobile_name {
    width: 50%;
    max-width: 50% !important;
    text-align: left !important;
    padding-left: 1rem;
    font-weight: bold;
    margin-left: 1rem;
  }

  .table_mobile tbody td {
    display: flex;

    align-items: center;
    padding: 0.5rem 0;
    border: none;
  }

  .td_promo {
    max-width: 50% !important;
    width: 50%;
  }

  .add_message {
    display: none;
  }

  .mobile_header_row {
    display: flex;
    margin-bottom: 0.25rem;
    justify-content: space-between;
    padding: 0 !important;
  }

  .price_label_card {
    max-width: 50% !important;
    width: 30%;
  }

  .price_tag {
    max-width: 30%;
    width: 30%;
  }

  .desktop {
    display: none !important;
  }
}