.btn_pay {
  background-color: var(--fb-darker);
  color: var(--fb-text-light);
  border-color: transparent;
}

.btn_pay:hover {
  background-color: var(--fb-accent);
  color: var(--fb-darker);
  border-color: transparent;
}