@import "bootstrap";
@import "bootstrap-icons";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --background: #fcfcfc;
  --darker: #2e3532;
  --primary: #dd3355;
  --secondary: #f0d3f7;
  --tertiary: #fbd87f;
  --accent: #81d2c7;
}

body {
  min-height: 100vh;
  min-width: 300px;
}

header {
  background-color: var(--accent);

  img {
    max-width: 15rem;
    padding-block: 1rem;
  }
}

main {
  min-height: calc(100vh - 200px);
}

footer {
  background-color: var(--darker);
  min-height: 200px;
  padding-top: 2rem;

  a {
    color: var(--accent) !important;

  }
}