@import "bootstrap";
@import "bootstrap-icons";

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --background: #fcfcfc;
  --darker: #2e3532;
  --primary: #dd3355;
  --secondary: #f0d3f7;
  --tertiary: #fbd87f;
  --accent: #81d2c7;
  --text: #000000;
  --text-light: #ffffff;
}

.debug {
  min-height: 100vh;
}

body {
  min-width: 400px;
}

/* #region carosello per cards  */

.caro_btn {
  background-color: transparent;
  font-size: 2rem;
  font-weight: 700;
  color: var(--sf-text);
  border: none;
}

.lists_scroll {
  overflow-x: auto;
  overflow-y: visible;
  display: flex;
  scroll-behavior: smooth;
  width: 100%;
  height: 70vh;
}

.jumbo_slide {
  overflow: hidden;
  min-width: 100%;
  height: 70vh;
  position: relative;
  transition: transform 0.6s ease-in-out;
  background-color: var(--tertiary);
}

.jumbo_img {
  min-width: 100%;
  object-fit: cover;
  transition: transform 1s ease;
  transform: scale(1);
}

.jumbo_info {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  left: 5%;
  color: var(--text-light);
}

.jumbo_slide.active .jumbo_img {
  transform: scale(1.02);
}

.dots {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  ul {
    display: flex;
    gap: 5%;
    color: var(--accent);
  }

  .dot_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary);
  }
}

/* #endregion carosello per cards  */

.page_counter {
  position: absolute;
  top: 0;
  right: 0;
}

/*HEADER*/
header {
  background-color: var(--primary);

  overflow: hidden;
  background-image: url('/public/halftone.svg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  .custom-btn {
    background-color: var(--darker);
    color: white;
    border: none;
  }

  .custom-btn:hover {
    background-color: var(--tertiary);
    color: var(--darker);
  }

  img {
    max-width: 20rem;
    padding-block: 1rem;
  }

}

/*cambia gli effetti del bottone con l'icona search*/
.btn:focus,
.btn:active {
  box-shadow: none;
  border-color: none;
  outline: none;

}

.searchbar {
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchbar:focus,
.searchbar:active {
  border-color: var(--tertiary);
  box-shadow: 0 0 0 2px var(--tertiary);
}

/*FOOTER*/

footer {
  /*background-color: var(--darker);*/
  background-color: var(--primary);
  overflow: hidden;
  background-image: url('/public/halftone.svg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  font-weight: bold;

  a {
    color: var(--accent);

  }
}

.product_images {
  width: 100%;
  height: 100%;
  overflow: hidden;


  .product_image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    transition-duration: 0.5s;

    &:hover {
      transform: scale(1.1);
    }

  }
}

.dots_product_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.dots_product {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  ul {
    display: flex;
    gap: 5%;
  }

  .dot_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--accent);
  }
}

.home_p_list {
  max-width: 100%;
  flex-wrap: nowrap;
}

.card {
  height: 100%;
  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px 2px black;
    cursor: pointer;
  }

  .card-header {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1;
  }

  .card-body {
    height: 220px;
  }
}

.product_page_img {
  height: 60%;
}

.card_on_click {
  text-decoration: none;
}

.btn_chart {
  background-color: var(--primary);
  padding: 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;

  &:hover {
    background-color: var(--accent);
  }
}

.price_section {
  margin: 3rem 0;
}

.price_label {
  padding: 1rem;
  border: 1px solid var(--accent);
  border-radius: 20px;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 2rem;
}

.product_description {
  margin: 2rem 0;
  border: 1px solid var(--accent);
  padding: 1rem;
  border-radius: 20px;
}

.price_label_card {
  padding: 1rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: 1.3rem;
}

.cart_label {
  color: var(--text-light);
  font-size: 0.7rem;
  background-color: var(--darker);
  padding: 0.2rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%);
}

.cart_img_container {
  display: inline-block;
  width: 20%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 20px;

  .cart_img {
    max-width: 100%;
  }
}

.total {
  display: flex;
  flex-direction: column;
  align-items: end;
  border: 1px solid var(--accent);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}